<div class="colPlannedPost" data-day="#DATADAY#">
    <div class="tabPlannerCell" data-hour="8h" title="#TITLE8H#"  >#TITLE8H#</div>
    <div class="tabPlannerCell" data-hour="9h" title="#TITLE9H#" >#TITLE9H#</div>
    <div class="tabPlannerCell" data-hour="10h" title="#TITLE10H#" >#TITLE10H#</div>
    <div class="tabPlannerCell" data-hour="11h" title="#TITLE11H#" >#TITLE11H#</div>
    <div class="tabPlannerCell" data-hour="12h" title="#TITLE12H#" >#TITLE12H#</div>
    <div class="tabPlannerCell" data-hour="13h" title="#TITLE13H#" >#TITLE13H#</div>
    <div class="tabPlannerCell" data-hour="14h" title="#TITLE14H#" >#TITLE14H#</div>
    <div class="tabPlannerCell" data-hour="15h" title="#TITLE15H#" >#TITLE15H#</div>
    <div class="tabPlannerCell" data-hour="16h" title="#TITLE16H#" >#TITLE16H#</div>
    <div class="tabPlannerCell" data-hour="17h" title="#TITLE17H#" >#TITLE17H#</div>
    <div class="tabPlannerCell" data-hour="18h" title="#TITLE18H#" >#TITLE18H#</div>
</div>

