<div class="colPlannedPost" data-day="#DATADAY#">
    <div class="tabPlannerCell" data-hour="8h">#TITLE#</div>
    <div class="tabPlannerCell" data-hour="9h">#TITLE#</div>
    <div class="tabPlannerCell" data-hour="10h">#TITLE#</div>
    <div class="tabPlannerCell" data-hour="11h">#TITLE#</div>
    <div class="tabPlannerCell" data-hour="12h">#TITLE#</div>
    <div class="tabPlannerCell" data-hour="13h">#TITLE#</div>
    <div class="tabPlannerCell" data-hour="14h">#TITLE#</div>
    <div class="tabPlannerCell" data-hour="15h">#TITLE#</div>
    <div class="tabPlannerCell" data-hour="16h">#TITLE#</div>
    <div class="tabPlannerCell" data-hour="17h">#TITLE#</div>
    <div class="tabPlannerCell" data-hour="18h">#TITLE#</div>
</div>

